Source: gz-utils3
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               debhelper (>= 13),
               doxygen,
               libspdlog-dev,
               libgz-cmake4-dev
Vcs-Browser: https://github.com/gazebosim/gz-utils3-release
Vcs-Git: https://github.com/gazebosim/gz-utils3-release
Homepage: https://github.com/gazebosim/gz-utils

Package: libgz-utils3
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Utils Library - Shared library

Package: libgz-utils3-dev
Architecture: any
Section: libdevel
Depends: libgz-utils3 (= ${binary:Version}),
         libgz-cmake4-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Utils Library - Development files

Package: libgz-utils3-cli-dev
Architecture: any
Section: libdevel
Depends: libgz-utils3-dev (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Utils Library - CLI Development files

Package: libgz-utils3-log-dev
Architecture: any
Section: libdevel
Depends: libgz-utils3-dev (= ${binary:Version}),
         libgz-utils3-log (= ${binary:Version}),
         libspdlog-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Utils Library - Log Development files

Package: libgz-utils3-log
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Utils Library - Log shared library

Package: libgz-utils3-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libgz-utils3 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Gazebo Utils Library - Debugging symbols
